<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Hi name</h3>
    <h3>Address: </h3>
    <h3>Phone: </h3>

    <table style="text-align: center;">
      <tr>
        <th>Product name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Cost</th>
      </tr>
      <img width="30" height="30" />
    </table>
    <h2>Total: </h2>
    <h1>SU</h1>
  </body>
</html>